
	@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@400;700&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;700&display=swap');

		
		a,body,input,textarea,select,button {
			font-family: 'Markazi Text', serif;
		}
		h1,h2,h3,h4,h5,h6 {
			font-family: 'Markazi Text', serif;
		}
		
		html {
			font-size: 20px;
		}

		.site-header nav a {
			color: #fff;
		}

		.navbar-brand {
			font-family: 'Markazi Text', serif !important;
			font-size: 21px !important;
			line-height: 1.2em !important;
		}
		.homepage-intro {
			height: 100vh;
			background-image: url('images/cebc.jpg');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			background-attachment: fixed;
		}
		.homepage-intro::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background-color: #00000033;
		}
		.homepage-intro .title {
			font-size: 4rem;
		}
		.homepage-intro .subtitle {
			font-size: 1.5rem;
		}
		
		.navbar-brand:before {
			position: absolute;
			top: 30px;
			right: -25px;
			content: '';
			width: 100px;
			height: 1px;
			background: rgba(255, 255, 255, 0.7);
		}
		.navbar-brand:after {
			position: absolute;
			top: 0;
			right: -10px;
			content: '';
			width: 1px;
			height: 60px;
			background: rgba(255, 255, 255, 0.7);
		}
		.ftco-navbar-light .navbar-brand {
			color: #fff;
		}
		.navbar-brand {
			font-weight: 700;
			font-size: 20px;
			text-transform: uppercase;
			line-height: 1;
			font-family: "Raleway", Arial, sans-serif;
			position: relative;
		}
		.navbar-brand {
			display: inline-block;
			padding-top: 0.3125rem;
			padding-bottom: 0.3125rem;
			margin-right: 1rem;
			font-size: 1.25rem;
			line-height: inherit;
			white-space: nowrap;
		}
		.banner-content {
			z-index: 9;
		}
